<div class="kiosk-wrapper">

  <div class="kiosk-card">

    <!-- Title -->
    <h1 class="title">🔥 Gas</h1>

    <!-- Department Grid -->
    <div class="dept-grid">

      <button class="dept-card electricity"
              (click)="GasPay()">
        <span class="icon">🧾</span>
        <span class="label">Bill Payment</span>
      </button>

      <!-- <button class="dept-card water"
              (click)="selectDepartment('water')">
        <span class="icon">🔌</span>
        <span class="label">Meter Related Request</span>
      </button> -->

      <button class="dept-card gas"
              (click)="selectDepartment('gas')">
        <span class="icon">🔎</span>
        <span class="label">Check Gas Connection</span>
      </button>

      <button class="dept-card municipality"
              (click)="selectDepartment('municipality')">
        <span class="icon">✔️</span>
        <span class="label">Check Status</span>
      </button>

      <button class="dept-card computer"
              (click)="selectDepartment('computer')">
        <span class="icon">❗</span>
        <span class="label">Complaint</span>
      </button>
 
      <button class="dept-card admin"
              (click)="selectDepartment('admin')">
        <span class="icon">✍</span>
        <span class="label">Book cylinder</span>
      </button>

    </div>

    </div> <div class="footer-actions">
    <button class="nav-btn-small back-btn" (click)="goBack()">
      <span class="label">Back</span>
    </button>

    <button class="nav-btn-small home-btn" (click)="goHome()">
      <span class="label">Home</span>
    </button>
  </div>
  </div>


