<div class="kiosk-container">
    <h1 class="title">Welcome / स्वागत है</h1>
    <p class="subtitle">Please select your language</p>


    <div class="language-buttons">
        <button class="lang-card english" (click)="selectLanguage('en')">
        <span class="flag">🇬🇧</span>
        <span class="text">English</span>
        </button>


        <button class="lang-card hindi" (click)="selectLanguage('hi')">
        <span class="flag">🇮🇳</span>
        <span class="text">हिन्दी</span>
        </button>
    </div>


</div>



<!-- 
<div class="kiosk-container" *ngIf="data">
    <ng-container *ngFor="let comp of data?.components">
        <h1 *ngIf="comp.type === 'text' && comp.order === 1"
            class="title">
            {{ comp.text['text'] }}
        </h1>
         <p *ngIf="comp.type === 'text' && comp.order === 2"
            class="subtitle">
            {{ comp.text['text'] }}
         </p>

        <div *ngIf="comp.type === 'button' && comp.order === 3" class="language-buttons">
            <div *ngFor="let lang of languageData">
               <button class="lang-card {{ lang.config }}"
                    (click)="selectLanguage(lang.languageCode)">
                    <span class="flag">{{ lang.langFlag }}</span>
                    <span class="text">{{ lang.languageText }}</span>
                </button>
            </div>
        </div>
    </ng-container>

</div> -->
